.banner {
    width: 100%;
    color: white;
    object-fit: contain;
    height: 70vh;
}

.banner__contents{
    margin-left: 25px;
    padding-top: 100px;
    height: 70%;
}

.banner_title{
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 0.3rem;
}

.banner_description{
    width: 45rem;
    line-height: 1.3rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

.banner_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem 0.5rem 2rem ;
    margin-right: 2rem;
    background-color: rgba(51,51,51,0.5);
}

.banner_button:hover{
    color:#000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner_fadeBottom{
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37, 0.61),
        #111
    );
}